<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <title>Metamorphic Testing</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script>
            function resizeIframe() {
                var iframe = document.getElementById("details_report").querySelector("iframe");
                iframe.height = iframe.contentWindow.document.body.scrollHeight + 30 + "px";
                // resize again because scroll height might change
                setTimeout(resizeIframe, 1000);
            }
        </script>
    </head>
    <body>
        <br>
        <div id="outer_container">
            <div id="title_author">
                <div>
                    <h1>
                        <a href="/">
                            Generic Metamorphic Testing Framework
                        </a>
                    </h1>
                </div>
                <form action="/test" method="post">
                    <label for="modules">Choose a module to run test:</label>
                    <select id="modules" name="modules">
                        {% for item in module_list %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <label for="report_name">Enter a report name:</label>
                    <input type="text" id="report_name" name="report_name">
                    <br><br>
                    <input type="checkbox"
                        id="load_previous_report"
                        name="load_previous_report"
                        value="1">
                    <label for="load_previous_report">Show precomputed report</label>
                    <br><br>
                    <input type="submit"
                        id="submit"
                        value="Run Tests"
                        style="position:relative;">
                </form>
            </div>
            {% if report_file %}
            <div id="details_report">
                <iframe 
                    src="{{ url_for('custom_static', filename=report_file) }}"
                    title="test_report" width="100%" height="100%"
                    onload="resizeIframe();">
                </iframe>
            </div>
            {% endif %}
        </div>
    </body>
</html>