#outer_container {
  width: 95%;
  max-width: 900px;
  margin: auto;
}

#title_author {
  font-family: Verdana;
    text-align: left;
    padding: 1em;
    position: relative;
    background: #f4f4f8;
    border-radius: 1em;
}

h1 {
  text-align: center;
  margin: 1em 0;
}

#details_report {
  display: flex;
  font-family: Verdana;
  text-align: center;
  margin: 1em 0;
  padding: 1em;
  position: relative;
  background: #f4f4f8;
  border-radius: 1em;
}

iframe {
  position: relative;
}